@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/*
--- 01 TYPOGRAPHY SYSTEM

-Font Sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-Font Weights:
Default : 400
medium:500
semi-bold:600
bold:700

-Line Heights:
Default : 1
Small:1.05
medium: 1.2
large: 1.8
Paragraph default : 1.6

--- 02 COLORS

### Primary

- Tomato: hsl(4, 100%, 67%)

### Neutral

- Dark Slate Grey: hsl(234, 29%, 20%)
- Charcoal Grey: hsl(235, 18%, 26%)
- Grey: hsl(231, 7%, 60%)
- White: hsl(0, 0%, 100%)

--- 03 SHADOWS 

--- 04 BORDER-RADIUS

--- 05 WHITESPACE

-Spacing System (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

:root {
  --color-primary: hsl(4, 100%, 67%);
  --color-white: hsl(0, 0%, 100%);
  --color-grey-light: hsl(231, 7%, 60%);
  --color-grey-medium: hsl(235, 18%, 26%);
  --color-grey-dark: hsl(234, 29%, 20%);
}

html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  /* color: var(--color-grey-medium); */
  line-height: 1;
}

/* PAGE CONTAINER */

.container {
  background-color: var(--color-grey-medium);
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* CTA-CONTAINER */
.container-cta {
  background-color: var(--color-white);
  max-width: 90rem;
  padding: 2rem;
  border-radius: 3rem;

  display: flex;
  gap: 1rem;
}

/* CTA TEXT CONTAINER */
.cta-text-container {
  padding: 6rem 2rem;

  display: flex;
  flex-direction: column;
}

.cta-heading {
  color: var(--color-grey-dark);
  font-size: 6.2rem;
  margin-bottom: 7rem;
  font-weight: 700;
}

.cta-para {
  color: var(--color-grey-medium);
  margin-bottom: 2rem;
}

.cta-points {
  list-style: none;
  color: var(--color-grey-medium);
  margin-bottom: 5rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cta-point {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cta-form {
  display: flex;
  flex-direction: column;
}

.cta-label {
  margin-bottom: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta-label label {
  font-size: 1.2rem;
  color: var(--color-grey-medium);
  font-weight: 700;
}

.cta-label p {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--color-primary);
}

.cta-form input,
.cta-form button {
  padding: 1rem 3rem;
  border-radius: 6px;
  border: 1px solid var(--color-grey-light);
  margin-bottom: 3rem;
  font-size: 1.6rem;
}

.cta-form input::placeholder {
  color: var(--color-grey-light);
}

.cta-form input {
  color: var(--color-grey-medium);
}

.cta-form .input-error {
  border: none;
  outline: 2px solid var(--color-primary);
}

.cta-form button {
  background-color: var(--color-grey-medium);
  color: var(--color-white);
  cursor: pointer;
  font-weight: 700;

  transition: all 0.3s;
}

.cta-form button:hover,
.cta-form button:active {
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  box-shadow: 0px 0.4rem 1rem 0.01rem var(--color-primary);
}

/* SUCCESS PAGE */

.success-container {
  max-width: 40rem;
  background-color: var(--color-white);
  border-radius: 3rem;
  padding: 2rem 4rem;

  display: flex;
  flex-direction: column;
}

.success-container img {
  height: 5rem;
  align-self: flex-start;
  margin-bottom: 3rem;
}

.success-heading {
  font-size: 4.4rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.success-text {
  line-height: 1.6;
  margin-bottom: 3rem;
}

.dismiss-btn {
  background-color: var(--color-grey-dark);
  color: var(--color-white);
  padding: 1rem 3rem;
  border: 1px solid var(--color-grey-dark);
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s;
  margin-bottom: 2rem;
}

.dismiss-btn:hover,
.dismiss-btn:active {
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  box-shadow: 0px 0.4rem 1rem 0.01rem var(--color-primary);
}
